<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="p-3"> 
    <form [formGroup]="loginForm"  >

      <div class="form-group">
        <label for="email">Enter Email <span class="text-danger">*</span></label>
        <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter Email">
        <div class="text-danger" *ngIf="getformControl('email').touched && getformControl('email').errors?.required">
          * Required
        </div>

      </div>

      <div class="form-group pt-3">
        <label for="password">Enter password <span class="text-danger">*</span></label>
        <input type="password" class="form-control" id="password" formControlName="password"
          placeholder="Enter Password">
        <div class="text-danger"
          *ngIf="getformControl('password').touched && getformControl('password').errors?.required">
          * Required
        </div>
        <div class="text-danger"
          *ngIf="getformControl('password').touched && getformControl('password').errors?.minlength">
          Minimal length is {{getformControl('password').errors?.minlength.requiredLength}} and actual is
          {{getformControl('password').errors?.minlength.actualLength}}
        </div>
        <div class="text-danger"
          *ngIf="getformControl('password').touched && getformControl('password').errors?.maxlength">
          Maximum length is {{getformControl('password').errors?.maxlength.requiredLength}} and actual is
          {{getformControl('password').errors?.maxlength.actualLength}}
        </div>

      </div>


      <ion-grid fixed>
        <ion-row>
          <ion-col size="6">
            <ion-button expand="block" shape="outline" class="ion-text-capitalize" color="primary" type="submit" routerLink="/register">Register</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button [disabled]="!loginForm.valid" expand ="full"  class="ion-text-capitalize" (click)="onFormSubmit()" color="primary" >Submit</ion-button>
          </ion-col>          
        </ion-row>
      </ion-grid>


       
      
      
    </form>
  </div>
</ion-content>