* {
  outline: none;
  font-family: "Montserrat";
}

.customAlert{
  padding: 15px;
  --height: 30%;
  --border-radius: 5px;
}

.divCenter {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

ion-button div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size:10px !important;
    color: #efefef;
  }


textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active,
ion-select {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}
    