<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Google Map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="map-wrapper">
    <div id="map_center">
      <img style="height: 30px;width: 30px;" src="../../assets/icon/marker.png" />
    </div>
    <div #map id="map"></div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <b>Lattitude</b>
      </ion-col>
      <ion-col>
        {{latitude}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <b>Longitude</b>
      </ion-col>
      <ion-col>
        {{longitude}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <b>Address</b>
      </ion-col>
      <ion-col>
        {{address}}
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
