<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="fst-italic">Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="p-3">
    <form [formGroup]="registerForm" novalidate >

      <div class="form-group">
        <label for="email">Enter Email <span class="text-danger">*</span></label>
        <input type="email" class="form-control" id="email" formControlName="email"
          placeholder="Enter your email address">
        <div class="text-danger" *ngIf="getformControl('email').touched && getformControl('email').errors?.required">
          * Required
        </div>

      </div>

      <div class="form-group pt-2">
        <label for="password">Enter Password <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="password" formControlName="password" placeholder="Enter Password">
        <div class="text-danger"
          *ngIf="getformControl('password').touched && getformControl('password').errors?.required">
          * Required
        </div>
        <div class="text-danger"
          *ngIf="getformControl('password').touched && getformControl('password').errors?.minlength">
          Minimal length is {{getformControl('password').errors?.minlength.requiredLength}} and actual is
          {{getformControl('password').errors?.minlength.actualLength}}
        </div>
        <div class="text-danger"
          *ngIf="getformControl('password').touched && getformControl('password').errors?.maxlength">
          Maximum length is {{getformControl('password').errors?.maxlength.requiredLength}} and actual is
          {{getformControl('password').errors?.maxlength.actualLength}}
        </div>

      </div>
      <div class="ion-text-center pt-2">
        <ion-button color="primary" class="ion-text-capitalize" shape="round" (click)="insertRow(registerForm.value)">Submit</ion-button>
      </div>


    </form>
  </div>
</ion-content>